body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    position: fixed;
    padding: 30px;
    background-color: rgb(253, 248, 242);
    border-style: solid;
    border-top: none;
    border-left: none;
}
